<%= form_with model: [ @article, @article.comments.build ] do |form| %>

  <div class="mb-3">
    <%= form.text_area :body, class:"form-control"%>
  </div>
  <div class="mb-3">
  <%= form.submit :Add, class:"btn btn-warning"%>
  </div>

<% end %>