<div class="container-fluid fixed-bottom position-absolute">
    <footer class="text-end mb-3">
        <%=link_to "https://github1s.com/Tepepeka/blog_02" do %>
          <i class="fa-brands fa-github">Github</i>
        <%end%>
    </footer>
</div>